
{% extends "inicio/encabezado.html" %}

{% block imagen%}
    {%load static%}
    {%static 'inicio/images/home.png'%}
{% endblock%}

{% block titulodos%} PRINCIPAL {%endblock%}
{% block subtitulo%} PRINCIPAL DOS {%endblock%}

{% block header%}
			<!--Encabezdo -->
			<div class="page-header">
				<div class="page-title">
					<h3>Alumnos
				    <small>Lista de Alumnos DSM</small></h3>
				</div>
			</div>
            {%endblock%}
			<!-- /Encabezado-->

            {%block barra%}
			<div class="breadcrumb-line">
				<ul class="breadcrumb">
				   
				   <ol>
					   <a href="{%url 'Principal'%}">
						   {%if request.path == '/' %}
							   Principal
						   {%else%}
							   Principal{{request.path}}
						   {%endif%}
					   </a>
				  
					</ol>
				</ul>
			</div>
			{% endblock %}
			
{%block contenido%}
<!-- Tabla de Alumnos -->
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Foto</th>
			<th>Matricula</th>
			<th>Nombre</th>
			<th>Carrera</th>
			<th>Turno</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td class="text-center">
				<img src="" alt="" class="img-media">
			</td>
			<td class="text-semibold">UTM180004TI</td>
			<td class="muted">José</td>
			<td class="muted">TIC</td>
			<td class="muted">Matutino</td>
		</tr>
	</tbody>
</table>
<!-- /Tabla de Alumnos -->
{% endblock %}